.folder {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  transition: all 0.3s;
}

.folder:hover {
  background-color: var(--grey);
}

.subfolderlist {
  margin: 0.75rem 2rem;
  padding: 0 0.5rem;
  border-left: 1px solid var(--grey);
}

.subfolderlist ul {
  list-style: none;
}
